@charset utf-8;
#headImage {
	display: inherit;
	height: inherit;
}
#headImage h2.title {
    font-size: 32px;
    font-weight: 400;
    padding-top: 56px;
    /* text-align: left; */
}
#container .title {
	margin-bottom: 32px;
	padding-bottom: 8px;
}

ul.pressList{
	width: 100%;
	max-width: 800px;
	margin:0 auto;
	min-height:400px;
}

ul.pressList li{
	border-bottom:dashed 1px #d5d5d5;
	display:block;
	margin-bottom:30px;
}

ul.pressList li a{
	text-decoration:underline;
	color: #2f2f2f;
}

ul.pressList li dl{
	overflow:hidden;
	padding-bottom:15px;
}

ul.pressList li dt{
	float:left;
	width: 100px;
	font-size: 15px;
	font-weight:600;
}

ul.pressList li dd{
	margin-left:140px;
}

/*detail*/
.detail{
	max-width: 800px;
	margin:0 auto;
	/* border-bottom:dashed 1px #d5d5d5; */
	padding-top: 80px;
}

.detail .title{
	border-bottom:dashed 1px #d5d5d5;
	padding-bottom:30px;
	text-align: left !important;
}
.detail .title.timeseries{
	border-bottom:solid 1px #989898;
}
.detail .title.timeseries:nth-child(1n+2){
	border-top:solid 1px #989898;
	border-bottom:solid 1px #989898;
}
.detail .title h3{
	font-size: 30px;
	line-height: 1.4em;
}

.detail .title .date{
	padding-top: 16px;
	font-size: 16px;
	text-align: right;
}

.detail .title .date.left{
	text-align: left;
}

.detail .title .date.left:before{
	content:"［";
}

.detail .title .date.left:after{
	content:"］";
}

.detail .title p{
	padding-top:10px;
	font-size: 16px;
	font-weight:600;
}

.detail .image{
	text-align:center;
	padding: 50px 0 0;
}
.detail .image.top{
	padding-bottom: 50px;
	padding-top: 0;
}

.detail p{
	font-size: 16px;
}

.detail p.note{
	font-size: 12px;
}

.detail h3.subtitle{
	font-size: 16px;
	padding: 32px 0 8px;
}

.detail h4{
	font-size: 16px;
	padding: 32px 0 8px;
	font-weight:bold;
}

.detail h5{
	font-size: 16px;
	font-weight:600;
}

.detail aside{
	margin:40px 0;
}
.detail aside.sub{
	padding:40px;
	background-color: #ededed;
}

.detail aside hr{
	border-top: 1px solid #eee;
	margin-bottom: 24px;
}

.detail aside p{
	font-size:14px;
	word-break: break-all;
}

.detail aside h4,
.detail aside h5{
	font-size: 16px;
	font-weight:600;
	padding-bottom:10px;
	padding-top: 0;
}

.detail aside h5{
	padding-top:30px;
}
.detail aside ul.list{padding-left: 20px;padding-bottom: 10px;}

.detail aside ul.list li{
	/* content:"*"; */
	/* content: "ddd"; */
	/* padding-left: 20px; */
	list-style: disc;
}

/*aside (img + text) */
.detail aside .inner{
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
}

.detail aside .inner .image{
	margin-right:auto;
	width:35%;
	padding:inherit;
}

.detail aside .inner .right{
	margin-left:auto;
	width:60%;
}

.detail aside .inner .right > p{
	width:100%;
}
.detail aside .inner .right ul.list{
	padding: 16px;
}

.detail aside .inner p{
	margin-left:auto;
	width:60%;
}

.detail .summary > h4 {
	border-bottom:none;
	font-weight:  normal;
}

.summary table{
	width:100%;
	border: 1px solid #ddd;
}

.summary table tr > th,
.summary table tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.summary table tr > th {
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  font-weight:  normal;
  width: 186px;
}
.detail .summary aside{
	margin-top:16px;
	font-size:  12px;
}

.detail .pdf a{
	background: url(../img/base/pdf_icon.png) no-repeat left center;
	padding: 8px 0 8px 32px;
	background-size:  24px;
	color: #606060;
	text-decoration:  underline;
}

#contactNav ul li {
	float: left;
	margin: 0 auto !important;
}

/* footer{
	position: sticky;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
 */
@media (max-width: 1040px) and (min-width: 1px) {
#container{
	padding:0 5% 5%;
	margin-bottom:0;
}
.detail{
	padding: 8% 5%;
}
.detail .title .date{
	padding-top:10px;
	font-size: 14px;
}

}

@media (max-width: 750px) and (min-width: 1px) {
#headImage h2.title {
	text-align: center;
	font-size:22px;
}
#container .title {
	margin-bottom: 24px;
}
#container h3 br{
	display:none
}

ul.pressList{
	min-height:280px;
}


ul.pressList li dl{
	overflow:hidden;
	padding-bottom:15px;
}

ul.pressList li dt{
	float:none;
	width: 100%;
	font-size: 15px;
	font-weight:600;
}

ul.pressList li dd{
	margin-left:inherit;
}

/*detail*/
#container .detail .title{
	border-bottom:dashed 1px #d5d5d5;
	padding-bottom:16px;
	text-align:left;
	padding-top: 24px;
}

.detail .title h3{
	font-size: 22px;
	text-align:left;
}

.detail h3.subtitle{
	font-size: 14px;
}

/*timeseries*/
#container .detail .title.timeseries{
	border-bottom: solid 1px #989898;
}

.detail .title.timeseries:nth-child(1n+2) .date{
	padding-top:0;
}

.detail h4{
	font-size: 14px;
	font-weight:normal;
	border-bottom:solid 1px #d5d5d5;
	margin-bottom:8px
}

.detail .title p{
	font-size: 14px;
	font-weight:normal;
	text-align:left;
}
.detail .image{
	padding:5% 0;
}

.detail .image.top{
	padding-bottom: 16px;
}
.detail aside .inner .right{
	width:100%;
}

.detail p{
	font-size: 14px;
}
.detail aside{
	margin: 40px 0 24px;
}

.detail aside.sub{
	padding:8% 5%; */
	background-color: #ededed;
}

.detail aside .inner .image{
	width:100%;
	padding:inherit;
}
/*180402-img*/
.detail .image .mps_ozax1{
	width: 140%;
	margin-left: -20%;
	padding-top: 8px;
}
.detail aside .inner .image .mps_ozax2{
	max-width: 280px;
}

.detail aside .inner p{
	width:100%;
	padding:10px 0;
}
.detail aside h4,
.detail aside h5{
	font-size: 14px;
	border-bottom:none
}

.detail aside h5{
	padding-top:8px;
}

.detail .summary > h4 {
	border-bottom: solid 1px #cacaca;
	font-weight: bold;
	margin:  0;
	padding-top:0;
}
.summary{
	background:#ededed;
	padding:8% 5%;
	margin:24px 0
}
.summary table{
	border:none;
}
.summary table tr > th,
.summary table tr > td {
	width:100%;
	display:block;
	border:none;
	padding:0;
	padding-top:16px;
	background:none;
}
.summary table tr > th {
  border-right: none;
  font-weight:  bold;
  width:100%;
}

.summary table tr > td {
  border-bottom: 1px solid #ddd;
  padding:0 0 4px 0;
}

}